{# Cursor Template #}
{# SKILL.md format for Cursor #}
{%- extends "base.j2" -%}

{%- block extra_frontmatter -%}
{%- if cursor_always_apply %}
alwaysApply: {{ cursor_always_apply }}
{% endif %}
{%- endblock extra_frontmatter %}
